@import 'normalize';
@import 'typography';
@import 'nav';
body{
  background-color: #FFA500;

}
/*
Base responsive styling
 */


    /* background-color: #eee; */


/*
Base Responsive Styling
 */
 /*The following 7 lines are from Paul Irish and apply a border-box model.
 See this page for more info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
 /* apply a natural box layout model to all elements, but allowing components to change */
 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }


 /* Basic Responsive Images and Video */
 img,video{
   width: auto;
   height: auto;
   max-width: 100%;

 }

 .article-images{
    width: 50%;
 }

 .featured-image{
    width: 100%;

 }

 html {font-size: 1rem;}

body {
  font-family: 'Rajdhani', sans-serif;
   /* font-family: Lato, sans-serif; */
  font-weight: 300;
  line-height: 1.5;
  color: #FF0000;
}

.inline-image{
  float: left;
  margin: 0;
}

.article-text{
  clear: both;
  margin-bottom: 2em;
  margin: 2em;
}

.article-text:after {
  content: "";
  display: table;
  clear: both;
}

.img-container {
float: left;
width: 25%;
padding: 2px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

/////////*.articletitle{
  //margin: 1em;}*//

.page-footer {
  border-top: 5px solid #2C65E8;
  padding-top: 1em;
  background-color: #2C65E8;
  color: #fff;
}

@supports (grid-area: auto){

  .article-full{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
  }

.article-introduction {
  grid-column: 1/span 2;
  margin: 0em;

  p {
    font-size:1.2em;
  }
}

  .article-header{
    grid-column: 1/span 2;
  }

  .article-text{

  }
}
